
*{
  box-sizing: border-box;
}

.header h1 {
  width:100%;
  font-family: 'Pacifico', cursive;
  font-size: 4em;
  text-align: center;
  margin-left: 10%;
}

.header img{
  float: right;
  width: 10%;
  height: 10%;
}

.nav{
	width:100%;
	text-align: center;
}

.nav a{
	text-decoration:none;
}

img{
    max-width: 100%;
    height: auto;
    padding: 1em;
    
}

.navbar{
  list-style-type: none;
  display:inline-flex;
  font-size: 1.5em;
}

.navitem{
   margin-right: 30px;
}

.row {
  display: flex;
  width: 100%;
  padding: 5px; 
}

.col-1 {width:8.33%;
}
.col-2 {width:16.66%;
}
.col-3 {width:25%;
}
.col-4 {width:33.33%;
}
.col-5 {width:41.66%;
}
.col-6 {width:50%;
}
.col-7 {width:58.33%;
}
.col-8 {width:66.66%;
}
.col-9 {width:75%;
}
.col-10 {width:83.33%;
}
.col-11 {width:91.66%;
}
.col-12 {width:100%;
}
